*{
    margin: 0px;
    padding: 0px; 
 }
 html{
     font-size: 95%;
 }
 body{
     font-family: 'Ubuntu', sans-serif;
 }
 /* #portfolio{
     border: 4px solid red;
 } */
 #main1{
     background-image: url("images/bg1.jpg");
     background-size: cover;
 }
 /* #nav1{
     position: sticky;
 } */
 .nav{
     height: 5.625rem;
     width: 100vw;
     display: flex;
     margin-top: 10px;
 }
 .logo{
     color: #faebd7;
     height: 5rem;
     width: 30%;
     font-size: 2.2rem;
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: 'Comforter', cursive;
     animation-name: ani;
     animation-duration:3s;
     animation-delay: 1s;
     animation-iteration-count: infinite;
 }
 @keyframes ani{
     0%{
         transform: rotateX(0deg);
     }
     50%{
         transform: rotateX(90deg);
     }
 }
 .logo img{
     margin-top: 1.25rem;
     height: 4.375rem;
     width: 60%;
 }
 #menu{
     /* position: sticky;
     top: 3px; */
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     right: 1.875rem;
     height: 5.563rem;
     width: 60%;
     font-size: 1.6rem;
 }
 #menu li{
     list-style: none;
 }
 #menu ul{
     display: flex;
 }
 #menu ul a{
     color: aliceblue;
     float: right;
     display: block;
     text-decoration: none;
     padding: 0.188rem 1.375rem;
     border-radius: 0.625rem;
 }
 #menu ul a:hover{
     background-color: gray;
 }
 .main{
     width: 100%;
     height: 40.625rem;
     display: flex;
 }
 .l{
     width: 50%;
     color: #faebd7;
 }
 .r{
     width: 50%;
 }
 .r img{
     padding-left: 9.375rem;
     height: 40.625rem;
     width: 43.75rem;
     position: relative;
 }
 .l1{
     display: block;
     margin: auto;
     position: relative;
     margin-top: 12.5rem;
     font-size: 1.2rem;
     text-align: left;
     margin-left: 12.5rem;
     color: rgb(224, 176, 176);
 }
 strong{
     font-size: 2.8rem;
     color: white;
 }
 .l1 p{
     font-size: 1.5rem;
     color: rgb(243, 60, 60);
 }
 .l1 a{
     padding: 0.625rem 1.563rem ;
     text-decoration: none;
     border-radius: 0.5rem;
     background-color: red;
     color: white;
     font-size:medium;
 }
 .l1 a:hover{
     cursor: pointer;
     color: rgb(221, 213, 213);
     background-color: rgb(243, 49, 49);
 }
 #about{
     height: 48.125rem;
     width: 100%;
     background-image:url("images/back1.jpg");
     background-repeat: no-repeat;
     background-size: cover;
 }
 /* #about::before{
     opacity: 0.9;
     backdrop-filter: blur(600px);
 } */
 .head{
     height:5.625rem;
     width: 100%;
     text-align: center;
     padding-top: 2.5rem;
 }
 #abt{
     height: 8.125rem;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 #abt2{
     display: flex;
     width: 100%;
 }
 #abt2l{
     width: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     padding-top: 1.563rem;
 }
 #abt2l img{
     height: 25rem;
     width: 19.375rem;
 }
 #abt2r{
     width: 40%;
     text-align: justify;
     padding-top: 2.813rem;
 }
 #abt2r{
     font-size: 1.25rem;
 }
 /* .l1 strong{
     position: relative;
     -webkit-text-stroke: 0.3vh;
 }
 .l1 strong::before{
     content: attr(data-text);
     position: absolute;
     top: 0;
     left: 0;
     width: 0;
     height: 100%;
     color: aqua;
     -webkit-text-stroke: 0vh;
     border-right: 2px solid red;
     overflow: hidden;
     animation: animate 6% linear infinite;
 }
 @keyframes animate{
     0%,10%,100%{
         width: 0;
     }
     70%,90%{
         width: 100%;
     }
 } */
 #skills{
     height: 48.125rem;
     width: 100%;
     background-image:url("images/back1.jpg");
     background-repeat: no-repeat;
     background-size: cover;
 }
 #skills h1{
     height: 8.125rem;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 #skills2{
     border: 0.125rem solid black;
     background-color: rgb(206, 235, 225);
     border-radius: 0.5rem;
     width: 60%;
     display: block;
     margin: auto;
     padding-top: 1.563rem;
     padding-bottom: 1.563rem;
     padding-left: 15.625rem;
     font-size: 1.3rem;
 }
 #skills2 li{
     color: rgb(71, 17, 17);
 }
 #contact{
     height: 48.125rem;
     width: 100%;
     background-image:url("images/back1.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     width: 100%;
 }
 #contact li{
     color: rgb(71, 17, 17);
 }
 #contact h1{
     height: 8.125rem;
     display: flex;
     align-items: center;
     justify-content: center;
     padding-bottom: 6.25rem;
 }
 #ul{
     border: 0.125rem solid black;
     background-color: rgb(206, 235, 225);
     border-radius: 0.5rem;
     width: 60%;
     display: block;
     margin: auto;
     padding-top: 1.563rem;
     padding-bottom: 1.563rem;
     padding-left: 15.625rem;
     font-size: 1.3rem;
 }
 #ul li{
     padding-top: 0.469rem;
     padding-bottom: 0.469rem;
 }
 .box{
     padding: 0.625rem 1.25rem;
     margin-left: 86.25rem;
     /* border: 2px solid red; */
     color: white;
     background-color: black;
     border-radius: 0.313rem;
     position: sticky;
     top: 31.25rem;
     text-decoration: none;
     opacity: 0.4;
     transition: 1s;
     /* display: none; */
 }
 .box:hover{
     opacity: 0.7;
 }
 #main1 .box{
     display: none;
 }
 @media(max-width:1200px){
    html{
        font-size: 65%;
    }
}
 @media(max-width:998px){
     html{
         font-size: 55%;
     }
 }
 @media(max-width:768px){
    html{
        font-size: 45%;
    }
}
@media(max-width:630px){
    html{
        font-size: 37%;
    }
}
@media(max-width:500px){
    html{
        font-size: 30%;
    }
    .r img{
        display: none;
    }
}
@media(max-width:400px){
    html{
        font-size: 25%;
    }
}
@media(max-width:300px){
    html{
        font-size: 20%;
    }
}
